###############################################################################
#   @author       :   ArveVM 
#   @date         :   15.march.2022
#   @integration  :   Home Assistant configuration
#   @description  :   Starting-poing of HA configuration
#   @basic concept: 
#      Using packages-functionality to structure configuration of EVERYTHING !
#      Learn more at https://www.home-assistant.io/docs/configuration/packages/#      
#
#      My main principle is to didvide Funtionality from Solution(s) 
#        - as my brain see the world of HA  :)
#
#        Functionality comes from Add-ons and Integrations
#          Add-ons and integrations are mostly configured in GUI
#          but if they need configuration (or additional sensors to add to 
#          existing functionality - that will be added in 1pc .yaml for each integration
#        Solutions are my onw abstract level to group functionality around
#          whatever I want to automate with HA
#
#      A descriptive readme-file is planned for my GitHub, but I got to start
#        somewhere, and this is the (fifth) start of my journey  :)
#      https://github.com/ArveVM/MyAssistedHome/wiki/2.1-HA-base-configuration
#
#   PS; lots of tribute to mrRR, Jeffrey Stone and Franck Nijhof for showing me 
#     good examples of config focused on either Functionality or Solutions, 
#     which I've arrogantly incorporated and called my own  :=)
#       https://github.com/thejeffreystone/home-assistant-configuration
#       https://github.com/frenck/home-assistant-config
#
###############################################################################


# ArveVM; first add my own folder with lots of sub-folders 
#   then sub-folders will add next levels of cascaded configuration 

homeassistant:
  packages: !include_dir_named packages



  # enable auto-login for nest hub - must be configured before loading packages
  # see at bottom of docs-page for clarifications: https://www.home-assistant.io/docs/authentication/providers/
  # Int-CATT https://github.com/ArveVM/MyAssistedHome/wiki/Int-CATT
  auth_providers:
  - type: trusted_networks
    trusted_networks:
      - 192.168.22.150    # IP of nest Hub 
      - 192.168.20.148    # IP of livingroom chromecast
    trusted_users:
      192.168.22.150: 8d0871d3f34e45fcbae4c4bfe055bf2d    # cast_nest_hub -> autologin on chromecast
      192.168.20.148: 8d0871d3f34e45fcbae4c4bfe055bf2d    # cast_nest_hub -> autologin on chromecast
    allow_bypass_login: true
  - type: homeassistant

